 body {
    background: #383435;
     font-family: 'Roboto', sans-serif, 'Libre Barcode 39 Text', cursive;
  font-weight: 300;
}
 
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: auto;
  color: white;
}

header h1 {
  font-weight: 700;
  margin: auto;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: auto;
}

.jumbotron {
  display: block;
  height: 400px;
  width: auto;
  text-align: center;
  /*background: url(mxcwdrop.gif);*/
  /*background-size: 1200px 300px;*/
}

.jumbotron h2 {
  font-size: 200px;
  font-weight: 700;
  color: darkgray;
  font-family: 'Libre Barcode 39 Text', cursive;
  text-align: center;
  text-transform: uppercase;
  /*background: transparent;*/
}

.jumbotron h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.63);
  font-family: 'Questrial', sans-serif;
  text-align: center;
}
.squares {
  text-align: center;
}

.SquareRow {
  text-align: center;
}

section .SquareRow img {
	border-radius: 20px;
	width: 250px;
	height: 250px;
	padding: 15px;
    text-align: center;
	}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
	 width: 32px;
	 height: 32px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: inline-block;
}

.nav li {
	font-family: 'Dosis', sans-serif;
	float:left;
	}

.nav li a {
	display:block;
	text-align:center;
	width:250px; /* fixed width */
	text-decoration:none; 
	font-size: 40px;
	color: white;
}

.nav li a:hover {
	background-color; yellow:
}

.nav {
	width:750px;
	height: 100px;
	margin:0 auto;
	list-style:none;
}
.Artspace {
	display:inline-block;
	width:1200px; /* fixed width */
	height: 700px;
	background: grey;
	border: 1em;
	border-radius: 10px;
	}
.Artspace h2 {
	font-size: 80px;
	font-family: 'Spectral SC', serif;
	color: white;
	padding: 30px;
}	
	
.artspacesection{
  display: block;
  background: grey:
  width: auto;
  text-align: center;
}