body {
  font-family: 'Roboto', sans-serif, courier, sans-serif;
  font-weight: 80;
  background-color: #faebd7;
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
}

header {
  padding: 20px 0;
  width: auto;
  margin: 0 auto;
  padding: 0;
}

header, .mxcwcontainer {
  background-color: transparent;
  display: block;
  width: auto;    
  text-align: center;
  max-width: 100%;
}

header, .mxcw {
  text-align: center;
  color: black;
  font-weight: 150;
  padding: 25px; 
  margin-top: 0;
}

.container {
  background-color: transparent;
  display: block;  
  margin: 0 auto;
  text-align : center;
  padding: 10px;
  max-width: 100%;
}
/* NAV BAR */

.nav ul {
  list-style-type: none;
  list-style: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0px;
  color: black;
}

.nav a {
  text-decoration: none;
  color: #FF0000;
  transition: .3s background-color;
    }

.nav li {
  font-size: 3em;
  line-height: 40px;
  height: 40px;	
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
  background-color: transparent;
  display: inline-block;
  width: auto;    
  text-align: center;
  max-width: 100%;
}

.nav {
  background-color: transparent;
  text-align: center;
  color: black;
  font-weight: 150;
  padding: 25px; 
  margin-top: 0;
}

#navstyle {
  color: black;
  font-weight: 400;
}

a:hover #navstyle {
  color: red;
}


.infobox{
  background-color: transparent;
  display: block;  
  margin: 0 auto;
  text-align : center;
  padding: 10px;
  max-width: 50%;
  border: 2px solid black;
}


/* footer icons */

.fa {
  padding: 9px;
  width: 20px;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%
}

#footericons {
  font-size: 20px;c
  text-align: center;
}

.fa:hover {
    opacity: 0.4;
}

.fa-instagram {
  background: #fb3958;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footercontainer {
  background-color: transparent;
  display: block;
  width: 100%;
  text-align: center;
  max-width: 100%;
}

.col1 {
  display: block;
  width: 100%;
  color: white;
  background-color: transparent;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.twitter-timeline {
  background-color: transparent;
  display: block;
  position: right;  
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align : center;
  padding: 10px;
  max-width: 50%;
  border: 2px solid black;
}

ul.blockmiddle {
  list-style: none; 
  background-color: transparent;
  display: block;  
  margin: 0 auto;
  margin-top: 5px;
  text-align : center;
  padding: 10px;
  max-width: 50%;
  border: 2px solid black;
}

h2 {
  font-family: 'Roboto', sans-serif, courier, sans-serif;
  text-align: left;
}


h3.footertext {
  font-family: 'Maven Pro', sans-serif, courier, sans-serif;
  text-align: center;
  font-size: small;
}

p {
  font-family: 'Roboto', sans-serif, courier, sans-serif;
  text-align: center;
}


a:hover {
  color: white;
}

a {
  text-decoration: none;
  color: pink;
  padding: 5px;
}

a.img:hover {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.SquareRow {
  text-align: center;
}

section .SquareRow img {
	border-radius: 20px;
	width: 100px;
	height: 100px;
	padding: 15px;
  text-align: center;
	}
.SquareRow img:hover {
  opacity: 0.7;
}

.SquareRow img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.9s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}
